PORT=5000
VITE_API_URL=http://localhost:5000
# Thêm API key Gemini tại đây (cho cả Server và Frontend build)
GEMINI_API_KEY=
VITE_GEMINI_API_KEY=
TREASURER_PIN=123456
NODE_ENV=development
VITE_GOOGLE_SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbyYkEtOutAZQixh2FEqMKcFlB8PlAhfmsSVkNsIL2PQgKLBg8jBNJqtm5kvHMd2QkVMwg/exec
